  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Car Gleam</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <!-- User Login Link -->
          <li class="nav-item">
            <button class="btn btn-primary" (click)="logout()">Logout</button>
          </li>
           <!-- Booking Link --> 
           <li class="nav-item"> 
            <!-- <a class="nav-link"  href="/bookings">Book Service</a> -->
            <!-- <button class="btn btn-primary" routerLink="/bookings">Book Service</button> -->
          </li>
        </ul>
      </div>
    </div>
  </nav> 

  