<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Car Gleam</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <!-- User Login Link -->
        <li class="nav-item">
          <a class="nav-link" href="/login">User Login/Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="home-background">
  <div class="home-content container text-center">
    <h1>Welcome to Car Gleam</h1>
    <p>Your one-stop solution for hassle-free car cleaning services.</p>
  </div>
</div>
<div class="footer">
  <p>&copy; 2025 Car Gleam. All rights reserved.</p>
</div>